
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

h1{
    margin: 50px;
    color: red;
    text-align: center;
   transition: all 0.5s ease-in-out;
}
h1:hover{
    color: darkblue;
    transform: scale(1.1);
    
}

.container{
    width: 80vw;
    height: 60vh;
    margin: auto;
    background-color: lightgoldenrodyellow;
    box-shadow: 0 0 10px black;
}
.container p{
   
    padding: 50px;

}
p::selection{
background-color: lightgreen;
}